{% extends "realynx/base.html" %}
{% block content %}
    <div class="article-metadata d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="article-title">Create a new notice: </h3>
        </div>
        <div class="border-bottom mb-2">
            <a class="btn btn-outline-info" href="{% url 'notice_create' %}">New Notice</a>
        </div>
    </div>
    {% for notice in notices %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ notice.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'notice_user' notice.author.username %}">{{ notice.author }}</a>
                    <small class="text-muted">{{ notice.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'notice_detail' notice.id %}">{{ notice.title }}</a></h2>
                <p class="article-content">{{ notice.content|truncatewords:15 }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info btn-sm mb-3" href="?page=1">First</a>
            <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm mb-3" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content%}